@model GoDam.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/layout.cshtml";
}

<div class="container-fluid">
    <h1>Edit</h1>

    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProductID" />
                <div class="form-group">
                    <label class="control-label">Product Name</label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Manufacture Date</label>
                    <input asp-for="MFDate" class="form-control" />
                    <span asp-validation-for="MFDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Expiry Date</label>
                    <input asp-for="ExpDate" class="form-control" />
                    <span asp-validation-for="ExpDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Category Name</label>
                    <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                    <span asp-validation-for="CategoryID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>